/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --q-white: #fff;
}

body {
  overflow-x: hidden;
}

.mobile-body {
  overflow: hidden !important;
}
