/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  overflow-x: hidden;
}

.mobile-body {
  overflow: hidden !important;
}
