/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: #272829;
}

.mobile-body {
  overflow: hidden !important;
}
